<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandaz.usercenter.mapper.GroupRoleMapper">
    <resultMap id="BaseResultMap" type="com.pandaz.usercenter.entity.GroupRoleEntity">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="group_code" jdbcType="VARCHAR" property="groupCode"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="is_private" jdbcType="TINYINT" property="isPrivate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, group_code, role_code,
        created_by, created_date,is_private
    </sql>
    <insert id="insert" parameterType="com.pandaz.usercenter.entity.GroupRoleEntity">
        insert into t_sys_group_role (id, group_code, role_code,
        created_by, created_date, is_private)
        values (#{id,jdbcType=VARCHAR}, #{groupCode,jdbcType=VARCHAR}, #{roleCode,jdbcType=VARCHAR},
        #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{isPrivate,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.pandaz.usercenter.entity.GroupRoleEntity">
        insert into t_sys_group_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="groupCode != null">
                group_code,
            </if>
            <if test="roleCode != null">
                role_code,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdDate != null">
                created_date,
            </if>
            <if test="isPrivate != null">
                is_private,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="groupCode != null">
                #{groupCode,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdDate != null">
                #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isPrivate != null">
                #{isPrivate,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from t_sys_group_role
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByGroupCode" parameterType="java.lang.String">
        delete
        from t_sys_group_role
        where group_code = #{groupCode,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByRoleCode" parameterType="java.lang.String">
        delete
        from t_sys_group_role
        where role_code = #{roleCode,jdbcType=VARCHAR}
    </delete>
    <select id="findByGroupCode" parameterType="com.pandaz.usercenter.entity.GroupRoleEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_group_role
        where group_code = #{groupCode,jdbcType=VARCHAR}
        <if test="isPrivate != null and isPrivate != ''">
            and is_private =#{isPrivate,jdbcType=TINYINT}
        </if>
    </select>
</mapper>