<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandaz.usercenter.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.pandaz.usercenter.entity.PermissionEntity">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="request_type" jdbcType="TINYINT" property="requestType"/>
        <result column="priority" jdbcType="TINYINT" property="priority"/>
        <result column="bit_result" jdbcType="INTEGER" property="bitResult"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="deleted_by" jdbcType="VARCHAR" property="deletedBy"/>
        <result column="deleted_date" jdbcType="TIMESTAMP" property="deletedDate"/>
        <result column="deleted_flag" jdbcType="TINYINT" property="deletedFlag"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, code,
        menu_code, url, request_type,
        priority, bit_result, created_by,
        created_date, updated_by, updated_date,
        deleted_by, deleted_date, deleted_flag,
        version
    </sql>
    <insert id="insert" parameterType="com.pandaz.usercenter.entity.PermissionEntity">
        insert into t_sys_permission (id, name, code,
                                      menu_code, url, request_type,
                                      priority, bit_result, created_by,
                                      created_date, updated_by, updated_date,
                                      deleted_by, deleted_date, deleted_flag,
                                      version)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
                #{menuCode,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{requestType,jdbcType=TINYINT},
                #{priority,jdbcType=TINYINT}, #{bitResult,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR},
                #{createdDate,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedDate,jdbcType=TIMESTAMP},
                #{deletedBy,jdbcType=VARCHAR}, #{deletedDate,jdbcType=TIMESTAMP}, #{deletedFlag,jdbcType=TINYINT},
                #{version,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.pandaz.usercenter.entity.PermissionEntity">
        insert into t_sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="menuCode != null">
                menu_code,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="requestType != null">
                request_type,
            </if>
            <if test="priority != null">
                priority,
            </if>
            <if test="bitResult != null">
                bit_result,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdDate != null">
                created_date,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedDate != null">
                updated_date,
            </if>
            <if test="deletedBy != null">
                deleted_by,
            </if>
            <if test="deletedDate != null">
                deleted_date,
            </if>
            <if test="deletedFlag != null">
                deleted_flag,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="menuCode != null">
                #{menuCode,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="requestType != null">
                #{requestType,jdbcType=TINYINT},
            </if>
            <if test="priority != null">
                #{priority,jdbcType=TINYINT},
            </if>
            <if test="bitResult != null">
                #{bitResult,jdbcType=INTEGER},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdDate != null">
                #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedDate != null">
                #{updatedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deletedBy != null">
                #{deletedBy,jdbcType=VARCHAR},
            </if>
            <if test="deletedDate != null">
                #{deletedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deletedFlag != null">
                #{deletedFlag,jdbcType=TINYINT},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="findByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_permission where code=#{code}
    </select>
</mapper>