<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.pandaz.auth.mapper.RolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.github.pandaz.auth.entity.RolePermissionEntity">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="role_code" jdbcType="VARCHAR" property="roleCode"/>
        <result column="permission_code" jdbcType="VARCHAR" property="permissionCode"/>
        <result column="os_code" jdbcType="VARCHAR" property="osCode"/>
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="deleted_by" jdbcType="VARCHAR" property="deletedBy"/>
        <result column="deleted_date" jdbcType="TIMESTAMP" property="deletedDate"/>
        <result column="deleted_flag" jdbcType="TINYINT" property="deletedFlag"/>
    </resultMap>
    <insert id="insertSelective" parameterType="com.github.pandaz.auth.entity.RolePermissionEntity">
        insert into t_sys_role_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="roleCode != null and roleCode != ''">
                role_code,
            </if>
            <if test="permissionCode != null and permissionCode != ''">
                permission_code,
            </if>
            <if test="osCode != null and osCode != ''">
                os_code,
            </if>
            <if test="menuCode != null and menuCode != ''">
                menu_code,
            </if>
            <if test="createdBy != null and createdBy !=''">
                created_by,
            </if>
            <if test="createdDate != null">
                created_date,
            </if>
            <if test="updatedBy != null and updatedBy !=''">
                updated_by,
            </if>
            <if test="updatedDate != null">
                updated_date,
            </if>
            <if test="deletedBy != null and deletedBy !=''">
                deleted_by,
            </if>
            <if test="deletedDate != null">
                deleted_date,
            </if>
            <if test="deletedFlag != null">
                deleted_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null and roleCode != ''">
                #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="permissionCode != null and permissionCode != ''">
                #{permissionCode,jdbcType=VARCHAR},
            </if>
            <if test="osCode != null and osCode != ''">
                #{osCode,jdbcType=VARCHAR},
            </if>
            <if test="menuCode != null and menuCode != ''">
                #{menuCode,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null and createdBy !=''">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdDate != null">
                #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null and updatedBy !=''">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedDate != null">
                #{updatedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deletedBy != null and deletedBy !=''">
                #{deletedBy,jdbcType=VARCHAR},
            </if>
            <if test="deletedDate != null">
                #{deletedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deletedFlag != null">
                #{deletedFlag,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="com.github.pandaz.auth.entity.RolePermissionEntity">
        insert into t_sys_role_permission
        (id,role_code,permission_code,os_code,menu_code,created_by,created_date)
        values
        <foreach collection="list" separator="," item="item" index="index">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.roleCode,jdbcType=VARCHAR},
            #{item.permissionCode,jdbcType=VARCHAR},
            #{item.osCode,jdbcType=VARCHAR},
            #{item.menuCode,jdbcType=VARCHAR},
            #{item.createdBy,jdbcType=VARCHAR},
            #{item.createdDate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
    <!-- 批量逻辑删除 -->
    <update id="batchLogicDelete" parameterType="java.util.HashMap">
        update t_sys_role_permission
        <set>
            <if test="deletedBy != null">
                deleted_by = #{deletedBy,jdbcType=VARCHAR},
            </if>
            <if test="deletedDate != null">
                deleted_date = #{deletedDate,jdbcType=TIMESTAMP},
            </if>
            deleted_flag = id
        </set>
        <where>
            deleted_flag='0'
            <choose>
                <when test="list != null and list.size() > 0">
                    and role_code = #{roleCode,jdbcType=VARCHAR}
                    and os_code = #{osCode,jdbcType=VARCHAR}
                    and menu_code = #{menuCode,jdbcType=VARCHAR}
                    and permission_code in
                    <foreach collection="list" open="(" close=")" index="index" item="item" separator=",">
                        #{item,jdbcType=VARCHAR}
                    </foreach>
                </when>
                <otherwise>
                    and 1 = 2
                </otherwise>
            </choose>
        </where>
    </update>
    <!-- 根据角色编码逻辑删除 -->
    <update id="logicDeleteByRoleCode">
        update t_sys_role_permission
        <set>
            <if test="deletedBy != null">
                deleted_by = #{deletedBy,jdbcType=VARCHAR},
            </if>
            <if test="deletedDate != null">
                deleted_date = #{deletedDate,jdbcType=TIMESTAMP},
            </if>
            deleted_flag = id
        </set>
        <where>
            deleted_flag='0'
            <choose>
                <when test="roleCode != null and roleCode != ''">
                    and role_code = #{roleCode,jdbcType=VARCHAR}
                </when>
                <otherwise>
                    and 1 = 2
                </otherwise>
            </choose>
        </where>
    </update>
    <!-- 根据权限编码逻辑删除 -->
    <update id="logicDeleteByPermissionCode">
        update t_sys_role_permission
        <set>
            <if test="deletedBy != null">
                deleted_by = #{deletedBy,jdbcType=VARCHAR},
            </if>
            <if test="deletedDate != null">
                deleted_date = #{deletedDate,jdbcType=TIMESTAMP},
            </if>
            deleted_flag = id
        </set>
        <where>
            deleted_flag='0'
            <choose>
                <when test="permissionCode != null and permissionCode != ''">
                    and permission_code = #{permissionCode,jdbcType=VARCHAR}
                </when>
                <otherwise>
                    and 1 = 2
                </otherwise>
            </choose>
        </where>
    </update>
    <!-- 查询已绑定的权限编码 -->
    <select id="listBindCodes" resultType="java.lang.String"
            parameterType="com.github.pandaz.auth.entity.RolePermissionEntity">
        select permission_code
        from t_sys_role_permission
        <where>
            deleted_flag='0'
            and role_code = #{roleCode,jdbcType=VARCHAR}
            and os_code = #{osCode,jdbcType=VARCHAR}
            and menu_code = #{menuCode,jdbcType=VARCHAR}
        </where>
    </select>
    <select id="listByOsCode" resultType="com.github.pandaz.auth.entity.RolePermissionEntity"
            parameterType="java.lang.String">
        select tsrp.os_code, tsrp.role_code, tsrp.menu_code, tsrp.permission_code
        from t_sys_role_permission tsrp
                 inner join t_sys_os_info os on tsrp.os_code = os.code and os.deleted_flag = '0' and os.locked = '0'
                 inner join t_sys_role role
                            on tsrp.role_code = role.code and role.deleted_flag = '0' and role.locked = '0'
                 inner join t_sys_menu menu
                            on tsrp.menu_code = menu.code and menu.deleted_flag = '0' and menu.locked = '0'
        where tsrp.deleted_flag = '0'
          and tsrp.os_code = #{osCode,jdbcType=VARCHAR}
    </select>
    <select id="listByOsCodeAndRoleCode" resultType="com.github.pandaz.auth.entity.RolePermissionEntity"
            parameterType="com.github.pandaz.auth.entity.RolePermissionEntity">
        select tsrp.os_code, tsrp.role_code, tsrp.menu_code, tsrp.permission_code
        from t_sys_role_permission tsrp
                 inner join t_sys_os_info os on tsrp.os_code = os.code and os.deleted_flag = '0' and os.locked = '0'
                 inner join t_sys_role role
                            on tsrp.role_code = role.code and role.deleted_flag = '0' and role.locked = '0'
                 inner join t_sys_menu menu
                            on tsrp.menu_code = menu.code and menu.deleted_flag = '0' and menu.locked = '0'
        where tsrp.deleted_flag = '0'
          and tsrp.os_code = #{osCode,jdbcType=VARCHAR}
          and tsrp.role_code = #{roleCode,jdbcType=VARCHAR}
    </select>
</mapper>